* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 20px;
  font-family: sans-serif;
  font-size: 11pt;
  line-height: 15pt;
  background-color: #DCDCDC;
}

h1 {
  text-align: center;
  font-size: 20pt;
  margin-top: 50px;
  margin-bottom: 50px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  max-height: 500px;
}

table, tr, td, th { 
  border-collapse: collapse;
  padding: 5px;
}

td {
  letter-spacing: 0.06em;
  line-height: 1.8;
  padding: 10px;
}

th {
  font-weight: bold;
}

table.bio {
  width: 500px;
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
}

/*3열 고정 비율*/
table.bio .col-label { width: 22%; }
table.bio .col-mainL { width: 18%; }
table.bio .col-mainR { width: 36%; }
table.bio .col-tail { width: 24%; }

/*공통 셀*/
 table.bio th, 
 table.bio td {
  /*border: 1px solid black;*/
  padding: 10px;
  vertical-align: top;
 } 

 /*섹션 헤더 줄*/
 table.bio tr.section th {
  /*border: 1px solid black;*/
  border-bottom: 1px solid black;
  font-weight: 700;
  padding: 12px 10px;
  text-align: left;
 }

 table.bio tr.spacer td {
    height: 28px;
  }
 
/*왼쪽 라벨*/
 table.bio td.label {
  white-space: nowrap;
  border-bottom: 1px dotted black;
 }

/*가운데 본문*/
 table.bio td.main {
  line-height: 1.8;
  letter-spacing: 0.06em;
  border-bottom: 1px dotted black;
 }

/*오른쪽 꼬리 문장 박스*/
 table.bio td.tail {
  white-space: nowrap;
  vertical-align: bottom;
  border-bottom: 1px dotted black;
 }

 table.bio tr.zig-row td {
  border-bottom: 1px dotted black;
 }

 table.bio tr.footer-section th {
  /*border-bottom: none;*/
  /*border-top: 1px solid black;*/
}

.highlight {
  background-color: #bfbfbf;
  /*padding: 2px 6px;*/
  /*border-radius: 2px;*/

}

.highlight a {
  text-decoration: none;
  color: inherit;
  text-decoration: underline;
}

.highlight a:hover {
  text-decoration: underline;
}

/* ===== 그밖에: 벽돌 테이블 ===== */

table.bio td.brick-wrap {
  padding: 0;           /* 바깥 큰 테이블의 padding 제거해서 벽돌이 깔끔히 붙게 */
  border-bottom: none;  /* 점선 충돌 방지(원하면 삭제) */
}

table.brick {
  width: 500px;         /* table.bio와 동일 폭 */
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: collapse;
}

table.brick td {
  height: 42px;                 /* 벽돌 높이 */
  padding: 8px 10px;
  border: 1px dotted #000;  
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  /* 기본 배경(빈칸도 벽돌처럼 보이게) */
  /*background: rgba(255,255,255,0.35);*/
}


table.brick {
  text-align: center;
}

/* 벽돌 표의 첫 번째 row 위쪽 점선 제거 */
table.brick tr:first-child td {
  border-top: none;
}

table.brick tr td {
  /*border-left: none;*/
  /*border-right: none;*/
}


footer {
  font-size: 9pt;
  margin: 10px;
  text-align: center;
}

@media screen and (max-width: 704px) {

}


