* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 20px;
  font-family: sans-serif;
  font-size: 11pt;
  line-height: 15pt;
  background-color: #DCDCDC;
}

h1 {
  text-align: center;
  font-size: 20pt;
  margin-top: 50px;
  margin-bottom: 50px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  max-height: 500px;
}

table, tr, td, th { 
  border-collapse: collapse;
  padding: 5px;
}

td {
  letter-spacing: 0.06em;
  line-height: 1.8;
  padding: 10px;
}

th {
  font-weight: bold;
}

table.bio {
  /*width: 500px;*/
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
}


table.bio .col-label { width: 22%; }
table.bio .col-mainL { width: 18%; }
table.bio .col-mainR { width: 36%; }
table.bio .col-tail { width: 24%; }

 table.bio th, 
 table.bio td {
  /*border: 1px solid black;*/
  padding: 10px;
  vertical-align: top;
 } 

 /*섹션 헤더 줄*/
 table.bio tr.section th {
  /*border: 1px solid black;*/
  border-bottom: 1px solid black;
  font-weight: 700;
  padding: 12px 10px;
  text-align: left;
 }

 table.bio tr.spacer td {
    height: 28px;
  }
 

 table.bio td.label {
  white-space: nowrap;
  border-bottom: 1px dotted black;
 }


 table.bio td.main {
  line-height: 1.8;
  letter-spacing: 0.06em;
  border-bottom: 1px dotted black;
 }

 table.bio td.tail {
  white-space: nowrap;
  vertical-align: bottom;
  border-bottom: 1px dotted black;
 }

 table.bio tr.zig-row td {
  border-bottom: 1px dotted black;
 }

 table.bio tr.footer-section th {
  /*border-bottom: none;*/
  /*border-top: 1px solid black;*/
}

.highlight {
  background-color: #bfbfbf;
  /*padding: 2px 6px;*/
  /*border-radius: 2px;*/

}

.highlight a {
  text-decoration: none;
  color: inherit;
  text-decoration: underline;
}

.highlight a:hover {
  text-decoration: underline;
}


table.bio td.brick-wrap {
  padding: 0;           
  border-bottom: none;  
}

table.brick {
  /*width: 500px;         */
  width: 100%;
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: collapse;
}

table.brick td {
  height: 42px;                 
  padding: 8px 10px;
  border: 1px dotted #000;  
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

table.brick {
  text-align: center;
}


table.brick tr:first-child td {
  border-top: none;
}

table.brick tr td {
}


footer {
  font-size: 9pt;
  margin: 10px;
  text-align: center;
}

@media screen and (max-width: 704px) {

  table.bio {
  max-width: 480px;
  }


}


