* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 20px;
  font-family: sans-serif;
  font-size: 11pt;
  line-height: 15pt;
}

h1 {
  text-align: center;
  font-size: 13pt;
}

table {
  width: 600px;
  margin: auto;
  margin-top: 10px;
  text-align: left;
}

table, tr, td, th {
  border: 1px dotted black;
  border-collapse: collapse;
  padding: 10px;
}



.circle {
    display: inline-flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #d8c9f2;
    color: #000;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.tb2_title {
  background-color: #c69f9f;
}

.tb5_title {
  background-color: #EEE8AA;
}

.b2_width {
  width: 240px;
}


th {
  font-weight: bold;
  background-color: ;
}

li {
  margin-left: 20px;
}

footer {
  font-size: 9pt;
  margin: 10px;
  text-align: center;
}

@media screen and (max-width: 704px) {

}


